:root {
  --primary-color: black;
  --secondary-color: white;
  --details-color: #ed1c6f;
  --default-font-family: "Roboto", sans-serif;
  --button-font-family: "Montserrat", sans-serif;
}
body {
  font-family: var(--default-font-family);

  max-width: 100%;
  overflow-x: hidden;
}
h1 {
  font-weight: bold;
  font-size: 72px;
  line-height: 84px;
  letter-spacing: 0.1em;

  color: var(--secondary-color);
}
p {
  font-weight: normal;
  line-height: 30px;
}

.dot {
  display: inline;
  color: var(--details-color);
}
.hero {
  background: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  padding: 200px 0px;
}
.hero p {
  font-size: 18px;
  line-height: 30px;
}
.hero h3 {
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.1em;
}
.btn-branding {
  border-radius: 50px;
  font-family: var(--button-font-family);
  padding: 18px 30px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  transition: 0.2s;
}
.btn-branding:hover {
  color: var(--details-color);
}

.image-fluid {
  max-width: 100%;
  height: auto;
}
.aboutMe,
.myHometown {
  padding: 50px;
}
.about {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.about h3 {
  color: var(--details-color);
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.skillset {
  padding: 50px;
}
.projects {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.myProjects {
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 50px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.projects h3 {
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.certificates {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.myCertificates {
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 50px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.certification-links {
  display: flex;
  justify-content: center;
}
.plus-link,
.basic-link,
.responsive-link,
.react-link {
  margin: 80px;
}
.contact {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.contact h3 {
  color: var(--details-color);
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.contactMe {
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 50px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 0;
}
.contactDetails {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
}
.contactDetails h3 {
  color: var(--details-color);
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
@media (max-width: 575px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 25px;
  }
  .myProjects,
  .myCertificates,
  .contactMe {
    font-size: 25px;
  }
  .plus-link,
  .basic-link,
  .responsive-link,
  .react-link {
    margin: 30px;
  }
  .weather {
    padding: 0px;
  }
}
